body {
  font-family:
    'Maison Neue',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  font-size: 1rem;
  font-kerning: normal;
  letter-spacing: normal;
  color: #fff;
}

h1 {
  margin: 0%;
  padding: 0%;
}

.first-section {
  background-image: url("/assets/gradient.JPG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
